#floating-avatar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-image: url('../icons/avatar.png');
  background-size: cover;
  cursor: pointer;
  z-index: 10000;
}

#chat-box {
  position: fixed; 
  bottom: 110px; 
  right: 20px;
  width: 300px;
  max-height: 400px;
  display: flex; 
  flex-direction: column;
  overflow: auto;
  z-index: 10000;
}

.chat-messages {
  font-family: 'Arial', sans-serif;
  font-size: clamp(8pt, 1vw, 12pt);
  padding: 10px;
  overflow: wrap;
  white-space: pre-wrap;
  max-width: 100%;
}